[workspace]
resolver = "2"
members = ["backends/*", "crates/*", "extensions/*", "tools/*", "toolchains/*"]

[workspace.dependencies]
# Common
extism-pdk = { version = "1.3.0" }
regex = { version = "1.11.1", default-features = false, features = ["std"] }
rustc-hash = "2.1.1"
schematic = { version = "0.18.0", default-features = false, features = [
	"schema",
] }
serde = { version = "1.0.218", features = ["derive"] }
serde_json = "1.0.139"
serial_test = "3.2.0"
starbase_sandbox = "0.9.0"
starbase_utils = { version = "0.11.1", default-features = false }
tokio = { version = "1.43.0", features = ["full"] }
toml = { version = "0.8.20", default-features = false, features = ["parse"] }

# moon
moon_common = { version = "0.0.11", path = "../../moon/crates/common" }
moon_config = { version = "0.0.14", path = "../../moon/crates/config" }
moon_pdk = { version = "0.0.14", path = "../../moon/crates/pdk" }
moon_pdk_test_utils = { version = "0.0.15", path = "../../moon/crates/pdk-test-utils" }
moon_project = { version = "0.0.3", path = "../../moon/crates/project" }
moon_target = { version = "0.0.10", path = "../../moon/crates/target" }

# proto
proto_pdk = { version = "0.28.3" }            # , path = "../../proto/crates/pdk" }
proto_pdk_api = { version = "0.27.5" }        # , path = "../../proto/crates/pdk-api" }
proto_pdk_test_utils = { version = "0.35.4" } # , path = "../../proto/crates/pdk-test-utils" }

# JavaScript
nodejs_package_json = "0.3.1"
typescript_tsconfig_json = { version = "0.4.0", features = ["serialize"] }

[profile.release]
codegen-units = 1
debug = false
lto = true
opt-level = "s"
panic = "abort"
