# https://pip.pypa.io/en/stable/reference/requirements-file-format/#example
pytest
pytest-cov

docopt == 0.6.1
requests [security] >= 2.8.1, == 2.8.* ; python_version < "2.7"
urllib3 @ https://github.com/urllib3/urllib3/archive/refs/tags/1.26.8.zip
